* {font-family: 'Courier New' monospace;
  }

body {
  margin: auto;
  text-align:center;
  padding-right: 3em;
  padding-left: 3em;
  max-width: 960px;
}

header {
  font-family: 'Franklin Gothic Medium';
  font-size: 3em;
  color: rgb(43, 43, 206);
  text-align: right;
  background-color: lightsteelblue;
  padding-bottom: 1.1em;
  padding-top: 1em;
}

/* Broad selectors*/

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  text-align: center;
  list-style: decimal inside;
}

h1 {
  color: black;
  font-family: 'Trebuchet MS';
  font-size: 2.5em;
  line-height: 1.25em;
  text-align: center;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-top: 0.5em;
  }

p {
  line-height: 18px
}

/* Specific Selectors*/

#headshot {
  width: auto;
  height: 2em;
  float: left;
}

.position {
  font-weight:bold;
  font-style: italic;
}

.company {
  font-weight:bold;
}

.dates {
  font-weight:bold;
  font-style: italic;
  color: rgb(66, 66, 248)
}

#bio {
  margin-top: 1em;
}

#goals {
  padding-bottom: 2em;
}

#education {
  padding-bottom: 2em;
}

.dark {
  background-color: rgb(61, 70, 70);
  color: white;

}

.light {
  background-color: white;
}


